---
# Ping Loopbacks
- test_class: TestNapalmPing
  test_execution:
    count: 5
  test_data:
{% for device, remoteloopbacks in device_remoteloopbacks %}
{%   for remoteloopback in remoteloopbacks %}
    - host: clab-{{ topology.name }}-{{ device }}
      destination: {{ remoteloopback }}
      expected: SUCCESS
      max_drop: 2
{%   endfor %}
{% endfor %}