{% set container_loopback = branch_supernet | network_offset('0.0.0.0/26') %}
{% set container_l3link = branch_supernet | network_offset('0.0.0.64/26') %}
{% set l3link = {} %}
{% for link in range(4) %}
{%   set link_offset = '0.0.0.' ~ (link * 4) ~ '/30' %}
{%   set link_network = container_l3link | network_offset(link_offset) %}
{%   set _ = l3link.update({link: link_network}) %}
{% endfor %}
{% set lan_data = branch_supernet | network_offset('0.0.1.0/24') %}
{% set lan_voice = branch_supernet | network_offset('0.0.2.0/24') %}

---
locations:
  - "!create_or_update:name": "{{ site_name }}"
    status__name: "Active"
    location_type__name: "Site"
    parent__name: "{{ region.name }}"
    tenant__name: "Autocon3"
    prefixes:
      - "!create_or_update:prefix": "{{ branch_supernet }}"
        type: "container"
        role__name: "Branch:Supernet"
        status__name: "Active"
        tenant__name: "Autocon3"
      - "!create_or_update:prefix": "{{ container_loopback }}"
        type: "pool"
        role__name: "Branch:Loopback"
        status__name: "Active"
        tenant__name: "Autocon3"
      - "!create_or_update:prefix": "{{ container_l3link }}"
        type: "container"
        role__name: "Branch:L3Link"
        status__name: "Active"
        tenant__name: "Autocon3"
      {% for link in range(4) %}
      - "!create_or_update:prefix": "{{ l3link[link] }}"
        type: "network"
        role__name: "Branch:L3Link"
        status__name: "Active"
        tenant__name: "Autocon3"
      {% endfor %}
      - "!create_or_update:prefix": "{{ lan_data }}"
        description: "Data LAN"
        type: "network"
        role__name: "Branch:LAN"
        status__name: "Active"
        tenant__name: "Autocon3"
      - "!create_or_update:prefix": "{{ lan_voice }}"
        description: "Voice LAN"
        type: "network"
        role__name: "Branch:LAN"
        status__name: "Active"
        tenant__name: "Autocon3"

    racks:
      - "!create_or_update:name": "{{ site_name }}-rack1"
        status__name: "Active"
        tenant__name: "Autocon3"

    devices:
    # ----- ROUTERS -----
    {% for rtr in range(2) %}
      - "!create_or_update:name": "{{ site_name }}-rtr{{ rtr + 1 }}"
        status__name: "Active"
        device_type__model: "Dummy"
        role__name: "Router"
        platform__name: "Arista EOS"
        tenant__name: "Autocon3"
        rack__name: "{{ site_name }}-rack1"
        face: "front"
        position: "{{ rtr + 10 }}"
        serial: "ABC000{{ rtr + 1 }}"
        asset_tag: "{{ site_name }}-rtr{{ rtr + 1 }}"
        software_version__version: "4.32.1F"
        secrets_group__name: "DEVICE_CREDENTIALS"
        "!ref": "{{ site_name }}-rtr{{ rtr + 1 }}"
        interfaces:
        {% for port in range(2) %}
          {% set link = 2 * rtr + port %}
          - "!create_or_update:name": "eth{{ port + 1 }}"
            type: "1000base-t"
            description: "Downlink to {{ site_name }}-sw{{ port + 1 }}"
            status__name: "Active"
            role__name: "Branch:L3Link"
            "!ref": "{{ site_name }}-rtr{{ rtr + 1 }}:eth{{ port + 1 }}"
        {% endfor %}
          - "!create_or_update:name": "eth8"
            type: "1000base-t"
            description: "Uplink to backbone"
            status__name: "Active"
          - "!create_or_update:name": "Loopback0"
            type: "virtual"
            description: "Uplink to backbone"
            status__name: "Active"
            role__name: "Branch:Loopback"
            "!ref": "{{ site_name }}-rtr{{ rtr + 1 }}:Loopback0"
    {% endfor %}
    # ----- Switches -----
    {% for sw in range(2) %}
      - "!create_or_update:name": "{{ site_name }}-sw{{ sw + 1 }}"
        status__name: "Active"
        device_type__model: "Dummy"
        role__name: "Switch"
        platform__name: "Arista EOS"
        tenant__name: "Autocon3"
        rack__name: "{{ site_name }}-rack1"
        face: "front"
        position: "{{ sw + 20 }}"
        serial: "ABC000{{ sw + 1 }}"
        asset_tag: "{{ site_name }}-sw{{ sw + 1 }}"
        software_version__version: "4.32.1F"
        secrets_group__name: "DEVICE_CREDENTIALS"
        "!ref": "{{ site_name }}-sw{{ sw + 1 }}"
        interfaces:
        {% for port in range(2) %}
          - "!create_or_update:name": "eth{{ port + 1 }}"
            type: "1000base-t"
            description: "Uplink to rtr{{ port + 1 }}"
            status__name: "Active"
            role__name: "Branch:L3Link"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:eth{{ port + 1 }}"
            "!connect_cable":
              to: "!ref:{{ site_name }}-rtr{{ port + 1 }}:eth{{ sw + 1 }}"
              status__name: "Connected"
        {% endfor %}
          - "!create_or_update:name": "Loopback0"
            type: "virtual"
            description: "Uplink to backbone"
            status__name: "Active"
            role__name: "Branch:Loopback"
            "!ref": "{{ site_name }}-sw{{ sw + 1 }}:Loopback0"
    {% endfor %}

ip_addresses:
  # ----- LOOPBACKS -----
  {% for ip in range(4) %}
    - "!create_or_update:address": "{{ container_loopback | network_offset('0.0.0.' ~ ip ~ '/32') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      role__name: "Loopback"
      "!ref": "loopback-{{ ip }}"
  {% endfor %}
  # ----- L3LINKS -----
  {% for link in range(4) %}
    - "!create_or_update:address": "{{ l3link[link] | network_offset('0.0.0.1/30') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      role__name: "Branch:L3Link"
      "!ref": "link-{{ link }}-rtr"
    - "!create_or_update:address": "{{ l3link[link] | network_offset('0.0.0.2/30') }}"
      status__name: "Active"
      tenant__name: "Autocon3"
      role__name: "Branch:L3Link"
      "!ref": "link-{{ link }}-sw"
  {% endfor %}

ip_address_assignments:
# ----- LOOPBACKS -----
  {% for ip in range(2) %}
    - "!create_or_update:ip_address": "!ref:loopback-{{ ip }}"
      "!create_or_update:interface": "!ref:{{ site_name }}-rtr{{ ip + 1 }}:Loopback0"
  {% endfor %}
  {% for ip in range(2) %}
    - "!create_or_update:ip_address": "!ref:loopback-{{ 2 + ip }}"
      "!create_or_update:interface": "!ref:{{ site_name }}-sw{{ ip + 1 }}:Loopback0"
  {% endfor %}
  # ----- L3LINKS -----
  {% for rtr in range(2) %}
  {%   for sw in range(2) %}
  {%     set link = 2 * rtr + sw %}
    - "!create_or_update:ip_address": "!ref:link-{{ link }}-rtr"
      "!create_or_update:interface": "!ref:{{ site_name }}-rtr{{ rtr + 1 }}:eth{{ sw + 1 }}"
    - "!create_or_update:ip_address": "!ref:link-{{ link }}-sw"
      "!create_or_update:interface": "!ref:{{ site_name }}-sw{{ sw + 1 }}:eth{{ rtr + 1 }}"
  {%   endfor %}
  {% endfor %}

circuits:
  {% for i in range(2) %}
  - "!create_or_update:cid": "{{ site_name }}-CKT-{{ i + 1 }}"
    status__name: "Active"
    provider__name: "NTC"
    circuit_type__name: "Ethernet"
    tenant__name: "Autocon3"
    circuit_terminations:
      - "!create_or_update:term_side": "A"
        location__name: "{{ site_name }}"
      - "!create_or_update:term_side": "Z"
        provider_network__name: "NTC-WAN"
  {% endfor %}

dynamic_groups:
  - "!create_or_update:name": "{{ site_name }}"
    "description": "Dynamic Group for the devices in location {{ site_name }}"
    tenant__name: "Autocon3"
    content_type:
      "!get:model": "device"
      "!get:app_label": "dcim"
    filter: {"location": ["{{ site_name }}"]} 

containerlab_topologies:
  - "!create_or_update:name": "{{ site_name }}"
    description: "Containerlab topology for {{ site_name }}"
    dynamic_group__name: "{{ site_name }}"